/venv
flask_front_end_app_engine/venv_appengine
internal_notes.txt
*.mp3
artifacts/tokens/hugging_face_api_token.txt
ffmpeg-master-latest-win64-gpl-shared
*.wav
flask_front_end_app_engine/notes.txt
*.pyc

flask_front_end_app_engine/__pycache__
flask_api_rss_feed/notes.txt

podcast_search_cloud_function/venv_cf_podcast_search
podcast_search_cloud_function/notes.txt

podcast_rss_download_cloud_function/venv_cf_rss_download
podcast_rss_download_cloud_function/notes.txt