{% from 'bootstrap5/nav.html' import render_nav_item %}


<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }} 
    {% endblock %}
    <title>{% block title %} {% endblock %} - Luke Garzia</title>

    {% endblock %}
  </head>
  <body>
    <!-- Your page content -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class={% if active_page=='index' %}"nav-link active" {% else %} "nav-link" {% endif %}
            aria-current="page" href="{{ url_for('index') }}">Home</a>
          </div>
          <div class="navbar-nav">
            <a class={% if active_page=='rss_search' %}"nav-link active" {% else %} "nav-link" {% endif %} 
            aria-current="page" href="{{ url_for('rss_search') }}">RSS Search</a>
          </div>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class={% if active_page=='rss_download' %}"nav-link active" {% else %} "nav-link" {% endif %}
               aria-current="page" href="{{ url_for('rss_download') }}">RSS Download</a>
            </div>
        </div>
      </div>
    </nav>
    {% block content %}
    {% endblock %} 
    {% block scripts %}
    <!-- Optional JavaScript -->
      {{ bootstrap.load_js() }} 
    {% endblock %}
  </body>
</html>